@use '_mediaQueries.scss' as media;
@use '_variables.scss' as colors;

.product-section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 40px;

    .healthcare, .furniture{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
        margin-bottom: 20px;

        h2{
            font-size: 2.5rem;
            color: colors.$primary-text-color;
        }
    }
}

.containerProducts{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    gap: 20px;

    @include media.desktop{
        grid-template-columns: repeat(4, 1fr);
    }

    @include media.laptop{
        grid-template-columns: repeat(3, 1fr);
    }
    
    @include media.tablet{
        grid-template-columns: 1fr 1fr;
    }

    @include media.miniphone{
        grid-template-columns: 1fr;
    }

}

.containerProducts-productsCard{    
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    padding: 20px;

    border-radius: 20px;
    background-color: colors.$product-color;
    
    @include media.phone{
        height: 600px;
    }

    div{
        width: 100%;
        background-color: transparent;


        h3, p{
            background-color: transparent;
            color: colors.$product-textcolor;
            width: 100%;
        }

        h3{
            font-size: 23px;
        }

        p{
            font-size: 16px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 800px;

            @include media.phone{
                height: 80px;
            }
        }
    }

    img{
        width: 100%;
        height: auto;
        border-radius: 10px;

        @include media.phone{
            height: 350px;
        }
    }

    .iconProduct{
        display: flex;
        justify-content: flex-end;
        align-items: center;

        svg{
            stroke-width: 3;
            width: 30px;
            height: 30px;
            background-color: transparent;
            stroke: colors.$primary-text-color;
        }
    }
}
