$primary-color: #FFEFE7;
$secundary-color:#FFDAC6;
$product-color:#dab8a6;
$product-textcolor:#645248;
$tertiary-color:#BABD8D;
$primary-text-color:#7C6A0A;
$highColor: #FA9500;
$font-stackl: 'IBM Plex Sans', sans-serif;